# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

driver-spi-external-ir-cam/ir-cam-sparkfun/SparkFun_MLX90640/.DS_Store

driver-spi-external-ir-cam/ir-cam-sparkfun/SparkFun_MLX90640/Firmware/.DS_Store
